@import "tailwindcss";
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeOutY {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
    }
}

.animate-fade-out-y {
    animation: fadeOutY 0.3s ease-in-out forwards;
}

@keyframes fadeInY {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-y {
    animation: fadeInY 0.3s ease-in-out;
}

@keyframes fadeOutX {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.animate-fade-out {
    animation: fadeOut 0.3s ease-in-out forwards;
}

.animate-fade-out-x {
    animation: fadeOutX 0.3s ease-in-out forwards;
}

@keyframes fadeInX {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-fade-in-x {
    animation: fadeInX 0.3s ease-in-out;
}
